@import url("all.css");

*, *::before, *::after{
    box-sizing: border-box;
}
.checkin,.checkout{
    width: 310px;
    background-color: white;
    border: 3px solid #4e6f40;
    border-radius: 30px;
    font-size: 27px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 155px);
}
h2{
    text-align: center;
    line-height: 150px;

}
.main{
    margin: 0 auto;
    

}
.content{
    /* overflow: hidden; */
    /* border:1px solid  rgba(78, 111, 64, 0.33);  */
    border-top: 0;
    padding: 20px;
    line-height: 1.1;
    border: 1px solid tomato;
}
.card{
    width: 38%;
    margin-top: 150px;
    position: relative;
    
}

.card:nth-child(2n){
    margin-right: 0;
    margin-left: auto;
    /* border: 1px solid black; */
}
.card:nth-child(odd){
    /* border: 1px solid red; */
}
.cards::after{
    position: absolute;
    top:0;
    left:50%;
    border:2px solid #4e6f40;
    content:'';
    background-color: #4e6f40;
    margin-left: -3px;
    height: 100%;
    /* width: 0px; */
}
.cards{
    position: relative;
    margin-bottom: 120px;
}

.card::after{
    position: absolute;
    content:"";
    border-radius: 50%;
    border: 3px solid #4e6f40;
    background-color: white;
    z-index: 1;
    width: 16px;
    height: 16px;
    top: calc(50% - 10px);
  

}
/* 
.cards::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  } */
  /*
  .timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  } */