@import url("reset.css");

.wrapper{
    margin: 0 auto;
    width: 1200px;
    /* border: 1px solid green; */
}

.outter{
    overflow: hidden;
    max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: white;
}
main{
    margin: 0 auto;
}
img{
    max-width:100%
}

/* font-size */
h1{
    font-size: 36px;
}
h2{
    font-size: 27px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
p{
    font-size: 12px;
}

/* header */

.logo{
    width: 140px;
    height: 80px;
}
.logo a{
    display: block;
    width: 140px;
    height: 80px;
    text-align: center;
    
}
.logo a:hover{
    transform: scale(1.2);
    display: block;
    width: 140px;
    height: 80px;
}
header{
    /* border: 1px solid tomato; */
    display: flex;
    height: 100px;
    align-items: center;
    margin: 10px 0;
    text-align: center;
}
header ul{
    
    display: flex;
    margin-left: auto;
    width: 750px;
    color: black;
}
header li{
    flex-grow: 1;
}

header li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    line-height: 40PX;
    width: 120PX;
    height: 40PX;
    /* background-color: #4E6F40; */
    /* text-align: center; */
   display: block;
   text-align: center;
}

header li a:hover{
    
    color: white;
    background-color: #4E6F40;
    border-radius: 35px;
    display: block;
    width: 120PX;
    line-height: 40PX;
    height: 40PX;
    text-align: center;
    box-shadow:1px 1px 8px rgba(78, 111, 64, 0.55);

}




/* footer */
.footer{
    background-image: url("../img/footer.jpg");
    background-size: 100%;
    padding-top: 140px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.social_list{
    margin: 5px;
}

.address, .phone{
    font-size: 14px;
}