@import url("reset.css");

.wrapper{
    margin: 0 auto;
    /* max-width: 1200px; */
    overflow: hidden;
    max-width: 100%;
    /* border: 1px solid green; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: white;
}
main{
    margin: 0 auto;
    max-width: 1200px;
}
img{
    max-width:100%;
}

/* font-size */
h1{
    font-size: 36px;
}
h2{
    font-size: 27px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
p{
    font-size: 12px;
}

/* ================ icon  ==================== */
#nav-icon1,#nav-icon2 {
    display: none;
}

@media (max-width:901.98px){
    #nav-icon1,#nav-icon2 {
    display: block;
    height: 10px;
    font-size: 25px;
    
   
   
}
.fa-solid {
    color: #4E6f40;
    padding:10px;
    padding-top: 20px;
  
}
    

}
/* ================ header  ==================== */
.logo{
    display: block;
    width: 140px;
    height: 60px;
    left: 0;
    top:0;
    background-color:whitesmoke ;
    z-index: 1;
    padding: 20px;
   
}
.logo a{
    display: block;
    width: 140px;
    height: 100px;
    text-align: center;
    /* border: 1px solid salmon; */
    
}
.logo a:hover{
    /* transform: scale(1.2); */
    opacity: 0.5;
    display: block;

}
header{
    display: flex;
    height: 100px;
    position: fixed;
    z-index: 30;
    background-color: white;
    text-align: center;
    width: 100%;
    /* margin: auto; */
    justify-content: space-between;
    box-shadow: -1px 0px 10px rgb(0 0 0 / 20%);
}


.nav_list{
    
    display: flex;
    margin-left: auto;
    width: calc(100vh- 80px);
    color: black;
}

.nav_list li{
    flex-grow: 1;
    
}

.nav_list li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    width: 120PX;
    height: 100px;
    line-height: 100px;
    display: block;
    text-align: center; 
    
   

    /* border-bottom:3px solid transparent; */

}
.nav_list li a:hover{
    color: #4E6f40;
    font-weight: bold;
    border-bottom: 3px solid #4E6f40; 
    width: 120PX;
    height: 80PX; 
    display: block;
}



@media screen and (max-width: 901.98px) {
.logo{
    display: block;
    width: 60px;
    height: 20px;
    left: 0;
    top:0;
    background-color:whitesmoke ;
    z-index: 1;
}
.logo a{
    display: block;
    width: 60px;
    height: 20px;
}
.logo a:hover{
    /* transform: scale(1.2); */
    opacity: 0.5;
    display: block;
}

header{
    display: flex;
    height: 60px;
    position: fixed;
    z-index: 30;
    background-color: white;
    text-align: center;
    width: 100%;
    /* margin: auto; */
    justify-content: space-between;
    box-shadow: -1px 0px 10px rgb(0 0 0 / 20%);
}

}





/* jquery 會預設display:none */
@media screen and (min-width: 902px){
    nav.main_nav {
        display: block !important;
    }
    
}

/* 漢堡選單滑入 */
@media screen and (max-width: 901.98px) {
header{
    height: 60px;
    justify-content: space-between;
    
}

nav.main_nav {
    display: none;
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: -1px 0px 10px rgb(0 0 0 / 20%);
    border-radius: 80% 0 0 80%;
    cursor: default;
    text-align: right;
    z-index: 50;
}

.nav_list{
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    
}

.nav_list li  {
    height: 60PX; 
    text-align: center;
    /* border: 1px solid saddlebrown; */
}
.nav_list li  a{
    /* border: 1px solid green; */
    height: 60PX; 
}

.nav_list li a:hover{
    color: #4E6f40;
    font-weight: bold;
    border-bottom: 3px solid #4E6f40; 
    width: 80PX;
    height: 60PX; 
    display: block;
}

}

  
  
  
/* ================ footer ==================== */

.footer{
    background-image: url("../img/footer.jpg");
    /* background-size: 100%; */
    background-size: cover;
    padding-top: 140px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    text-align: center;
    padding-bottom: 20px;

}

.social_list{
    margin: 5px;
}

.address, .phone{
    font-size: 14px;
}

