@import url("all_.css");

main{
    width:1200px;
    margin:0 auto;
    margin-top: 130px;
}

.photoside{
    display:block;
    float: left;
    margin-top: 30px;
    
}

.photoside img{
    margin: 10px;
    padding: 2%;
    
}



.photoside{
    width: 50%;
    padding: 0 80px;
    box-sizing: border-box;
} 

.camp_description{
    float: right;
    width: 50%;
}

.slick-prev:before,
.slick-next:before {
      color:#4E6F40;
     
}
.slick-prev{
   left:-48px; 
/* padding-right: 10px; */
}

.slick-next:before{
padding-left: 10px;

}

.slick-slide{
    margin-left:  10px;
    margin-right:  10px;
    
    text-align:center;
  }

.big_photo {
    height: 300px;
    margin: 0 auto;
}
  .slick-list {
    margin-left: -10px;
    margin-right: -10px;
   
    
  }
/* photoside  沒加輪播的*/
/*
.bigphoto{
 display: flex;
 align-items: center;
 justify-content: center;
} 

.fa-chevron-left , .fa-chevron-right{
    color: #4E6F40;
}

.smallphotos{
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.smallphotos img{
    margin-left: 10px;
} */




/* description-icon*/

.bedicon{
    display: flex;
    justify-content: center;
    
} 

.bedicon a{
    display: block;
    text-decoration: none;
    color: black;
}
.bedicon img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bedicon a:hover{
    opacity:0.5;
    display: block;
    text-decoration: none;
    color: black;
}
.onebed{
    margin-right: 30px;
}



span{
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgba(78, 111, 64, 0.77);
}

/* description */
.content h2{
    margin-bottom: 20px;
}

.content li{
    list-style-type:disc;
    font-size: 14px;
    color: gray;
   
}

.content h4{
    margin-bottom: 10px;
}
.content table{
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 450px;
    height: 40px;
    table-layout: fixed;
    border: 1px solid #4E6F40;
}
td{
    border: 1.2px solid #4E6F40;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
}
.content > ul{
    margin-top: 30px;

}
