@import url("all_.css");

main {
    max-width: 1200px;
    margin: 130px auto 0;
}

@media screen and (max-width:1199px) {
    img{
        max-width: 100%;
    }
    
}

/* 左邊輪播照片,右邊敘述 */
.photoside {
    display: block;
    float: left;
    margin-top: 30px;

}

.camp_description {
    float: right;
    width: 50%;
}


@media screen and (max-width:800px){

    .photoside {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width:80%;
        float: none;
    } 
    .camp_description {
        width: 80%;
        margin: 0 auto;
        float: none;
        border: 1px solid red;
        margin-top: 40px;
    } 
   
    

} 

/* ===================== */
.photoside img {
    margin: 10px;
    padding: 2%;

}

.photoside {
    width: 50%;
    padding: 0 80px;
    box-sizing: border-box;
}



/* 輪播按鈕 */

.slick-next:before,
.slick-prev:before {
    color: #4E6F40;
}

.slick-prev {
    left: -48px;
}

.slick-next:before {
    padding-left: 10px;

}

.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.slick-slide img {
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}

.small_photo {
    margin-top: 100px;
}

.big_photo {
    height: 300px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.slick-list {
    margin-left: -10px;
    margin-right: -10px;

}


.slider-for {
    height: 300px;
    margin: 0 auto;
}


@media screen and (max-width:1100px){
    .slick-slide img {
        width: 100%;
    }
}

@media screen and (max-width:800px){
    .big_photo{
        padding-bottom:0px ;
    }
    .small_photo {
        margin-top:0px;
    }
    .slick-dots{
        display: none;
    }
    

}



/* description-icon*/

.bedicon, .bedicon_cellphone {
    display: flex;
    justify-content: center;

}


.bedicon a, .bedicon_cellphone a{
    display: block;
    text-decoration: none;
    color: black;
}

.bedicon img, .bedicon_cellphone img{
    display: block;
    margin: 0 auto 20px;
}

.bedicon a:hover, .bedicon_cellphone a:hover{
    opacity: 0.5;
    display: block;
    text-decoration: none;
    color: black;
}

.onebed {
    margin-right: 30px;
}

span {
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgba(78, 111, 64, 0.77);
}

.bedicon_forCellphone{
    display: none;
}
@media screen and (max-width:800px) {
    span{
        display: none;
    }

    .camp_description >.bedicon{
        display: none;
    }

    .slick-slide img {
        width: 100%;
    }

    .bedicon_forCellphone{
        display: block;
    }

    .bedicon_forCellphone img{
      width: 60%;

    }

}

/* description */
.content h2 {
    margin-bottom: 20px;
}

.content ul{
    padding: 10px;
}
.content li {
    list-style-type: disc;
    font-size: 14px;
    color: gray;

}

.content h4 {
    margin-bottom: 10px;
}

.content table {
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 90%;
    /* width: 450px;
    height: 40px; */
    table-layout: fixed;
    border: 1px solid #4E6F40;
}

td {
    border: 1.2px solid #4E6F40;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
}

.content > ul {
    margin-top: 30px;

}
