@import url("all.css");

/* header */
header{
    position: relative;
}
header ul{
    width: 750px;
}
.big_logo{
    background-color: whitesmoke;
    width: 342px;
    position: absolute;
    z-index: 1;
    /* left: -10px;
    top: 20px; */
    left: 0px;
    top: -10px;
    padding: 30px 20px;
    /* border: 3px solid rgba(202, 148, 41, 0.68); */
    /* border-radius: 18px; */
    /* box-shadow: inset 0px 0px 3px 1px rgba(202,148,41,.68); */
    animation: biglogo 1s cubic-bezier(0,.39,.22,1.39) forwards;
}

@keyframes biglogo{
    0%{ left:-400px; }
    100%{ left: -10px;}
}

.big_logo a:hover{
    display: block;
    color: #fff;
    /* transform: translateY(-6px); */
    opacity: 0.5;
}
@media (min-width:768px) and (max-width:1200px){
    .big_logo{
        display: block;
        width: 140px;
        height: 60px;
        left: 0;
        top:0;
        background-color:whitesmoke ;
        z-index: 1;
        padding: 20px;}
   
}


@media (min-width: 576px) and (max-width: 767.98px){
    .big_logo{
    display: block;
    width: 140px;
    height: 60px;
    left: 0;
    top:0;
    background-color:whitesmoke ;
    z-index: 1;
    padding: 20px;
    }
    header ul{
        display: none;
    }

    }
@media (max-width:575.98px){
    .big_logo{
        display: block;
        width: 140px;
        height: 60px;
        left: 0;
        top:0;
        background-color:whitesmoke ;
        z-index: 1;
        padding: 20px;
    }
    header ul{
        display: none;
    }

    }

/* banner */
.banner{
    margin: 0 auto;
    text-align: center;
}

.slogan{
    position: absolute;
    width:512px;
    left: 666px;
    top: 375px;
    animation: slogan 1.1s .3s cubic-bezier(0,.39,.22,1.39) forwards;
}

@keyframes slogan{
    0%{ left:1226px; opacity: 0; }
    100%{ left: 666px; opacity: 1;}
}

@media screen and (max-width:1120px){
    .banner{
        width: 100%;
    }
}
@media (min-width:800px ) and (max-width:1120px) {
    .slogan{
        position: absolute;
        left: 539px;
        top: 305px;
        animation: 0;
        width: 50%;
    }
}
@media (min-width:800px ) and (max-width:992px) {
    .slogan{
        position: absolute;
        left: 472px;
        top: 292px;
        animation: 0;
        width: 50%;
    }
}

@media (min-width:500px ) and (max-width:800px) {
    .slogan{
        position: absolute;
        left: 359px;
        top: 253px;
        animation: 0;
        width: 50%;
    }
}


@media (max-width:499.98px){
    .slogan{
        position: absolute;
        left: 210px;
        top: 155px;
        animation: 0;
        width: 50%;

    }
}

/* main */
/* 帳篷旅館 圓圖 */
main{
    margin: 0 auto;
    position: relative;
}

.camps:before{
    content:"";
    display:block;
    border-top: 5px solid #4E6F40;
    width: 105px;
    height: 10px;
}
.camps{
    margin-top: 50px;
}
.camps_photos{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .camps_photos{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        justify-content: space-around;
    } 
    .camps_photos img{
        margin-bottom: 64px; 
        width: 200px;
    }
}


@media (max-width:575.98px){

    .camps_photos{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px;
    } 
    .camps_photos img{
        margin-bottom: 20px;
        width: 180px;
    

    }
}



/* 關於 */
.about:before{
    content:"";
    display:block;
    border-top: 5px solid #4E6F40;
    width: 125px;
    height: 10px;
}
.about{
   margin-bottom: 50px;
}
.about_cont{
    display: flex;
}
.about_img{
    width: 50%;
   
}

.about_mountain_view{
    width:50%;
    margin:0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_mountain_view h2{
    color: #4E6F40;
}
.about_mountain_view h3{
    line-height: 21px;
    color: #6B6B6B;
    text-align: left;
    margin: 0;
    padding: 10px 0 15px 0;
}
.about_mountain_view img{
    width:100%;
}

@media screen and (max-width: 767.98px){
    .about_cont{
        flex-wrap: wrap;
    }
    .about_img, .about_mountain_view {
    width: 100%;
    object-fit: cover; }
    .about_mountain_view{ 
    margin:0 ;
    }

}

@media (max-width:575.98px){}






/* instagram */
.instagram{
    color:#4E6F40 ;
    margin-top: 60px;
    text-align: center;
}

.insta_photos{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
h2{
    font-weight: bold;
}