@import url("all.css");

.banner{
    position: relative;

}
.banner img{
    display: block;
    margin: 0 auto;
}

.tag_location{
    width: 324px;
    position: absolute;
    left: 440px;
    top: 180px;
}
.content{
    margin-top: 80px;
    display: flex;
    border: 1px solid #4E6F40;
    box-shadow: inset 0px 0px 3px 1px rgba(78, 111, 64, 0.33);
}
.content h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.content h2::before{
    content:"";
    position: absolute;
    height: 2px;
    width: 220px;
    /* border: 1px solid #4E6F40; */
    background-color:rgba(78, 111, 64, 0.77) ;
    box-shadow: inset 0px 0px 3px 1px rgba(78, 111, 64, 0.33);
    top:10px;
    left:0px;
}

.content h2::after{
    content:"";
    position: absolute;
    height: 2px;
    width: 220px;
    /* border: 1px solid #4E6F40; */
    box-shadow: inset 0px 0px 3px 1px rgba(78, 111, 64, 0.33);
    background-color: rgba(78, 111, 64, 0.77);
    top:10px;
    left: 377px;
}

.content li{
    text-align: left;
    list-style-type: decimal;
    margin-bottom: 10px;
}
.content ul{
    margin-left: 80px;
    margin-bottom: 80px;
}
.private{
    width: 50%;
    background: rgba(202, 148, 41, 0.28);
    border-right: 5px solid #4E6F40;
}
.public{
    width: 50%;
    background: rgba(78, 111, 64, 0.26);
    box-shadow: inset 0px 0px 3px 1px rgba(78, 111, 64, 0.33);
}

.googlemap h2{
    margin:40px 0;
    font-weight: 40px;
    color: #4E6F40;
}

.googlemap iframe{
    width:100%;
}