@import url("all.css");

/* banner */
.banner{
    position: relative;

}
.banner img{
    display: block;
    margin: 0 auto;
}

.tag_location{
    width: 324px;
    position: absolute;
    left: 440px;
    top: 180px;
    animation: taglocation .6s cubic-bezier(0, .39,.22,1.39) forwards;
}

@keyframes taglocation{
    0%{ left:-130px; opacity: 0; }
    100%{ left: 440px; opacity: 1;}
}

/* main */
.content{
    display: flex;
    margin-top: 30px;
}
.transport_private{
    width: 50%;
    border-right:5px #4E6F40 dashed;
}
.transport_public{
    width: 50%;
}
.content img {
    width: 20%;
    display: block;
    margin: 0 auto;
    /* border: 4px solid #4E6F40; */
    /* border-radius: 50%; */
    padding: 10px;
}


.content h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.content li{
    text-align: left;
    list-style-type: decimal;
    margin-bottom: 10px;
}
.content ul{
    margin-left: 80px;
    margin-bottom: 80px;
}


/* google_map */
.googlemap h2{
    margin:40px 0;
    font-weight: 40px;
    color: #4E6F40;
}

.googlemap iframe{
    width:100%;
}