@import url("all_.css");

/* banner */
.banner{
    position: relative;
    margin-top: 100px;
}
.banner img:first-child{
    margin: 0 auto;
}
.banner img{
    display: block;
}

.tag_location{
    width: 324px;
    position: absolute;
    /* 絕對定位置中 */
    left: 0;
    right: 0;
    margin:auto;    
    top:0;
    bottom: 0;
    z-index: 1;
    animation: taglocation .6s cubic-bezier(0, .39,.22,1.39) forwards;
}

/* tag動畫*/
@keyframes taglocation{
    0%{ transform: translateX(100%); opacity: 0; }
    100%{transform: translateX(0%); opacity: 1;}
}

@media  (max-width:1120px) {
    .tag_location{
        width: 30%;
    }
}
/* main */
.content{
    display: flex;
    margin-top: 30px;
}

.transport_private{
    margin-top: 10px;
    width: 50%;
    border-right:5px #4E6F40 dashed;
    padding: 0 20px;
}
.transport_public{
    width: 50%;
    padding: 0 20px;
}
.private{
    padding-top: 20px;
}
.content img {
    width: 25%;
    display: block;
    margin: 0 auto;
    /* border: 4px solid #4E6F40; */
    /* border-radius: 50%; */
    padding: 10px;
}


.content h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.content li {
    text-align: left;
    list-style-type: decimal;
    margin-bottom: 10px;
}
.content ul {
    margin-left: 80px;

}

@media (min-width:576px) and (max-width:768px) {
    .content h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .content {
        display: block;
    }
    .transport_private {
        border-right: 0;
        padding-bottom: 20px;
        border-bottom: 5px #4E6F40 dashed;
        width: 100%;
    }
    .transport_public {
        padding-top: 20px;
        width: 100%;
    }

}


@media screen and (max-width:576px) {
    .train{
        margin-top: 10px;
    }
    .content h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .content {
        display: block;
    }
    .transport_private {
        border-right: 0;
        padding-bottom: 20px;
        border-bottom: 5px #4E6F40 dashed;
        width: 100%;
    }
    .transport_public {
        padding-top: 20px;
        width: 100%;
    }
    .content ul {
        margin-left: 0;
    }

    /* ===== private 置中 ======= */
    .transport_private {
        padding: 0;
    }

    .private_des {
        text-align: center;
    }
    .private ul {
        padding: 40px;
        display: inline-block;
    }
/* ===== public 置中 ======= */
    .transport_public {
        padding: 0;
    }
    .public_des {
        text-align: center;
    }
    .public ul {
        padding: 40px;
        display: inline-block;
    }

}

/* google_map */
.googlemap h2 {
    margin: 40px 0;
    font-weight: 40px;
    color: #4E6F40;
}

.googlemap iframe {
    width: 100%;
}
