@import url("all_.css");

/* banner */
.banner{
    position: relative;
    margin-top: 100px;
}
.banner img{
    display: block;
}

.banner img:first-child{
    margin: 0 auto;
}
.tag_reservation{
    width: 324px;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;    
    top:0;
    bottom: 0;
    z-index: 1;
    animation: tagreservation .6s cubic-bezier(0, .39,.22,1.39) forwards;
}

@keyframes tagreservation{
    0%{ transform: translateX(100%); opacity: 0; }
    100%{transform: translateX(0%); opacity: 1;}
}

@media  (max-width:1120px) {
    .tag_reservation{
        width: 30%;
    }
}
/* main-form */

.form{
    padding-left: 70px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.steps01, .steps02, .steps03{
    display: flex;
}

.steps01>h4, .steps02>h4, .steps03>h4{
    color: #4e6f40;
    padding-top: 12px;
    margin-right: 8px;
    margin: 0;
}

.num{ font-size: 36px;
    margin: 0;
    color:#CA9429;
    margin-right: 8px;
}

.form01{
    margin-bottom: 5px;
}

.step01{
    display: flex;
    margin-top: 10px;
}

.form03{
    display: flex;
    justify-content: center;
    align-items: center;
}


.step02 ,.step03{
    display: flex;
    margin-top: 10px;
}

.room, .room_2, .people, .people_2, .date,  .reservation_name, .tel, .mail{
    border: 1px solid #4e6f40;
    border-radius: 15px;
    height: 25px;
    width: 175px;
    opacity: .6;
    cursor: pointer;
    /* form表單裡面字 */
    padding: 4px; 
    margin-top: 2px;
    
}

.people{
    margin-left: 6px;
}

.form03_2{
    margin-left: 211px;
}
.form04{
    line-height: 35px; 
    margin-top: 10px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.notes{
    border: 1px solid #4e6f40;
    border-radius: 15px;
    opacity: .6;
    vertical-align: text-top;
    resize: none;
}
.check_text{
     margin-left:5px;
 }
 
.submit{
     margin-left: 322px;
     margin-top: 20px;
     background-color: #4e6f40;
     color: white;
     border-radius: 15px;
     height: 25px;
     width: 185px;
     border:0 none;
     display: block;
 }

.submit:hover {
    color: #fff;
    transform: translateY(-7px);
}

@media screen and (max-width:767px) {
    .form{
      padding-left: 30px;
    }
    .room, .room_2, .people, .people_2{
        border: 1px solid #4e6f40;
        border-radius: 15px;
        height: 25px;
        width: 147px;
        opacity: .6;
        cursor: pointer;
        /* form表單裡面字 */
        padding: 4px; }
       
    .date{
        height: 10px;
        width: 147px;
    }

    .form03{
        flex-direction: column;
        align-items: stretch;
    }

    .people{
        margin-left: 0px;
    }
    .form03_2 {
        margin-left: 78px;
    }
    .form04{
        flex-direction: column
    }
    .reservation_name, .tel, .mail{
        height: 25px;
        width: 100px;
    }
    .notes{
        height: 75px;
        width: 102px;
    }
    .submit{
        margin-left: 160px;
        height: 25px;
        width: 160px;
    }
}